<!-- <link href='https://fonts.googleapis.com/css?family=Exo+2:900' rel='stylesheet' type='text/css'> -->

<div id="wrapper">

        <div id="wheel">
            <div id="inner-wheel">
                <% current_user.rewards.each do |reward| %>
                  <div class="sec"><span class="fa text"><%= reward.first_prize %></span></div>
                  <div class="sec"><span class="fa text"><%= reward.second_prize %></span></div>
                  <div class="sec"><span class="fa text"><%= reward.third_prize %></span></div>
                  <div class="sec"><span class="fa text"><%= reward.fourth_prize %></span></div>
                  <div class="sec"><span class="fa text"><%= reward.fifth_prize %></span></div>
                <% end %>
                <div class="sec"><span class="fa fa-gift"></span></div>
            </div>

            <div id="spin">
                <div id="inner-spin"></div>
            </div>

            <div id="shine"></div>
        </div>


        <div id="txt"></div>
  </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/index.js"></script>




  </body>
</html>
