<%= form_tag games_path, method: :get, class: "search-location mt-md-5" do %>

      <div class="form-group">
        <div class="form-field">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by name of area of behaviour",
            autocomplete: "off"
            %>

            <div class="d-flex filters">
              <div class="filter-input-field">
                <%= label_tag 'sleeping', 'Sleeping' %>
                <br>
                <%= select_tag "sleeping", options_for_select([['With Mom&Dad', 'With Mom&Dad'], ['Falling Asleep Alone', 'Falling Asleep Alone'], ['Wondering At Night', 'Wondering At Night']), include_blank: true, placeholder: '', class: "advanced_search" %>
              </div>
              <div  class="filter-input-field">
                <%= label_tag 'potty_training', 'Potty Training' %>
                <br>
                <%= select_tag "potty_training", options_for_select([['16:00', '16:00'], ['17:00', '17:00'], ['18:00', '18:00'], ['19:00', '19:00'], ['20:00', '20:00']]), include_blank: true, placeholder: '', class: "advanced_search" %>
              </div>
              <div  class="filter-input-field">
                <%= label_tag 'size', 'Size' %>
                <br>
                <%= select_tag "size", options_for_select([['less than 50', 'less than 50'], ['more than 50', 'more than 50']]), include_blank: true, placeholder: '', class: "advanced_search" %>
              </div>
              <div  class="filter-input-field">
                <%= label_tag 'age_structure', 'Age Structure' %>
                <br>
                <%= select_tag "age_structure", options_for_select([['Mixed ages', 'Mixed ages'], ['Old homogenous', 'Old homogenous'], ['Nest group', 'Nest group']]), include_blank: true, placeholder: '', class: "advanced_search" %>
              </div>
            </div>
            <button ><span class="ion-ios-search"><i class="fas fa-search"></i></span></button>

            <% end %>
        </div>
      </div>












