<div class="container">

  <div class="container dashboard-section" id="all-kindergardens" style="margin-bottom: 30px;">
    <div class="section-title" style=" color: #f57170;">
      <h4>My Games</h4>
    </div>
    <table style="width: 100%;">
      <thead>
        <tr>

          <th class="table-dashboard" style="padding: 8px;">Child</th>
          <th class="table-dashboard" style="padding: 8px;">Areas</th>
          <th class="table-dashboard" style="padding: 8px;">Weekly Rewards</th>
          <th class="table-dashboard" style="padding: 8px;">Monthly Rewards</th>
          <th class="table-dashboard" style="padding: 8px;">Spin the wheel</th>


        </tr>
      </thead>
      <tbody class="dashboard-table">
        <% @kids.each do |kid| %>
          <% if kid.reservations.exists? %>
            <tr>
              <td class="table-dashboard">
                <%= kid.first_name  %>
              </td>
              <td class="table-dashboard">
                <% kid.reservations.each do |reservation| %>
                  <div class="table-item">
                    <%= link_to reservation.game.name, game_path(reservation.game) %>
                  </div>
                <% end %>
              </td>

              <td class="table-dashboard">
                <% kid.reservations.each do |reservation| %>
                  <div class="table-item">
                    <% if reservation.status == "Achived" %>
                      <i class="accepted"><%= reservation.status %></i>
                    <!-- to do other statuses -->
                    <% end %>
                  </div>
                <% end %>
              </td>
              <td class="table-dashboard">
                <% kid.reservations.each do |reservation| %>
                  <div class="table-item">
                    <% if reservation.status == "Achived" %>
                      <i class="accepted"><%= reservation.status %></i>
                    <!-- to do other statuses -->
                    <% end %>
                  </div>
                <% end %>
              </td>
              </td>
              <td class="table-dashboard">
                <% kid.reservations.each do |reservation| %>
                  <div class="table-item">
                    <% if reservation.status  == 'Achived' %>
                      <%= link_to "Spin the wheel", game_path(reward.game), class: "btn btn-secondary" %>
                    <!-- old resend application -->
                    <% end %>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="container dashboard-section" id="my-kids">
    <div class="section-title" style=" margin-top: 15px; color: #f57170;">
      <h4>My Kids</h4>
    </div>
    <div class="row kid-сards">
      <% current_user.kids.each do |kid| %>
        <div class="col-3 kid-card">
          <%= link_to edit_kid_path(kid) do %>
            <span><%= kid.first_name %></span>
          <% end %>
        </div>
      <% end %>

      <div class="col-3 kid-card kid-card-add">
        <%= link_to new_kid_path(current_user) do %>
          <span>Add kid <i class="far fa-plus-square"></i></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container dashboard-section" id="my-kids">
    <div class="section-title" style=" margin-top: 15px; color: #f57170;">
      <h4>My Rewards</h4>
    </div>
    <div class="row kid-сards">
      <% current_user.rewards.each do |reward| %>
        <div class="col-3 kid-card">
          <%= link_to edit_reward_path(reward) do %>
            <span><%= reward.name %></span>
          <% end %>
        </div>
      <% end %>

      <div class="col-3 kid-card kid-card-add">
        <%= link_to new_reward_path(current_user) do %>
          <span>Add reward <i class="far fa-plus-square"></i></span>
        <% end %>
      </div>
    </div>
  </div>




  </div>
</div>
<%= render "shared/footer", game: @game %>
